@font-face {
  font-family: "Golos";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/Golos-Text-Regular.woff2) format("woff2"),
    url(/static/fonts/Golos-Text-Regular.woff) format("woff");
}
@font-face {
  font-family: "Golos";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/Golos-Text-Medium.woff2) format("woff2"),
    url(/static/fonts/Golos-Text-Medium.woff) format("woff");
}
@font-face {
  font-family: "Golos";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/Golos-Text-DemiBold.woff2) format("woff2"),
    url(/static/fonts/Golos-Text-DemiBold.woff) format("woff");
}
@font-face {
  font-family: "Golos";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/Golos-Text-Bold.woff2) format("woff2"),
    url(/static/fonts/Golos-Text-Bold.woff) format("woff");
}
